@import "tailwindcss";

/* Default Dark Theme */
:root {
  --bg: #666666;
  --bg-header: #282820;
  --bg-card: #282820;
  --bg-comp: #666666;
  --bg-comp-hover: #8493a0;
  --bg-del: var(--color-red-500);
  --bg-del-hover: var(--color-red-700);

  --tx-header: white;
  --tx-title: white;
  --tx-comp: white;
  --tx-card: white;
}

.light {
  --bg: #fdf6e3;
  --bg-header: #d9d2c2;
  --bg-card: #d9d2c2;
  --bg-comp: #fdf6e3;
  --bg-comp-hover: #d3cbb7;
  --bg-del: theme(colors.red.500);
  --bg-del-hover: theme(colors.red.700);

  --tx-header: #586e78;
  --tx-title: #586e78;
  --tx-comp: #586e78;
  --tx-card: #586e78;
}

.navy {
  --bg: var(--color-slate-950);
  --bg-header: var(--color-slate-900);
  --bg-card: var(--color-slate-200);
  --bg-comp: var(--color-slate-900);
  --bg-comp-hover: var(--color-slate-950);
  --bg-del: var(--color-red-500);
  --bg-del-hover: var(--color-red-700);

  --tx-header: white;
  --tx-title: var(--color-slate-950);
  --tx-comp: var(--color-slate-900);
  --tx-card: var(--color-slate-200);
}

.beartheme {
  --bg: var(--color-yellow-950);
  --bg-header: var(--color-yellow-900);
  --bg-card: var(--color-orange-200);
  --bg-comp: var(--color-yellow-900);
  --bg-comp-hover: var(--color-yellow-950);
  --bg-del: var(--color-red-500);
  --bg-del-hover: var(--color-red-700);

  --tx-header: white;
  --tx-title: var(--color-yellow-950);
  --tx-comp: var(--color-yellow-900);
  --tx-card: var(--color-orange-200);
}

@theme {
  --color-bg: var(--bg);
  --color-bg-header: var(--bg-header);
  --color-bg-card: var(--bg-card);
  --color-bg-comp: var(--bg-comp);
  --color-bg-comp-hover: var(--bg-comp-hover);
  --color-bg-del: var(--bg-del);
  --color-bg-del-hover: var(--bg-del-hover);

  --color-tx-header: var(--tx-header);
  --color-tx-title: var(--tx-title);
  --color-tx-comp: var(--tx-comp);
  --color-tx-card: var(--tx-card);
}

.indent-2em {
  text-indent: 2em;
}
